# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
actions-runner/externals/node20_alpine/bin/node
actions-runner/externals/node20/bin/node
actions-runner/actions-runner-linux-x64-2.322.0.tar.gz
